<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Mercado-libre-Test">
    <classes>
      <class name="challenge.MercadoLibreTest"/>
    </classes>
  </test> 
  <test name="Ebay-Test">
    <classes>
      <class name="challenge.EbayTest"/>
    </classes>
  </test>
</suite> 
